.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
  color: white;
}

.App-intro {
  font-size: large;
  margin: 18px 0px;
}

.App-repo-search {
  width: 330px;
  align-self: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
